html {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  background: rgb(237, 238, 230);
  color: black;
  letter-spacing: 1px;
}

.App {
  height: 100%;
  text-align: center;
}

.logo {
  height: 30px;
}

.App-header {
  display: flex;
  justify-content: flex-start;
  background-color: rgb(44, 44, 44);
  color: white;
  padding: 20px;
  font-size: 28px;
}

.userDetails {
  margin-left: auto;
}

.userDetails p {
  font-size: 14px;
  margin: 1px;
}

.changeUser:hover {
  cursor: pointer;
  color: rgb(153, 153, 153);
}

.body {
  display: flex;
  justify-content: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.startScreen {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.startScreen p {
  padding: 2em;
  background-color: rgb(212, 212, 212);
  border-radius: 20px;
}

.startScreen p:hover {
  cursor: pointer;
  color: white;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.failed-load {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #222;
  padding: 20px;
  font-size: 8px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
